/** Font Face **/
@font-face {
  font-family: "HelveticaNeue BlackCond";
  src: url("../fonts/HelveticaNeue-BlackCond.eot");
  src: url("../fonts/HelveticaNeue-BlackCond.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-BlackCond.woff2") format("woff2"), url("../fonts/HelveticaNeue-BlackCond.woff") format("woff"), url("../fonts/HelveticaNeue-BlackCond.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std";
  src: url("../fonts/HelveticaNeueLTStd-Cn.eot");
  src: url("../fonts/HelveticaNeueLTStd-Cn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Cn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-Cn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Cn.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-CondensedBold.eot");
  src: url("../fonts/HelveticaNeue-CondensedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-CondensedBold.woff2") format("woff2"), url("../fonts/HelveticaNeue-CondensedBold.woff") format("woff"), url("../fonts/HelveticaNeue-CondensedBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/** COLORES **/
/** Generals **/
* {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue LT Std", Helvetica, sans-serif;
}

/** Container **/
.container {
  width: 85%;
  max-width: 1280px;
  margin: 0 auto;
}

/** HEADER **/
header {
  background-image: url(../img/head-bg.jpg);
  background-size: cover;
  background-position: start;
  background-attachment: scroll;
  min-height: 30px;
  padding: 40px 0;
}
header .container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
header .thd-logo {
  margin-right: 20px;
  width: 6.7%;
}
header .logo {
  width: calc(93% - 20px);
}

/** menu **/
nav {
  background-color: #fff;
}
nav .menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #f98627;
  background: linear-gradient(0deg, #fff 0%, #f98627 40%, #f98627 100%);
}
nav .menu li {
  width: 16.3%;
  max-width: 250px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
nav .menu li.current a {
  color: #f96404;
}
nav .menu li a {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Helvetica Neue";
  color: #333333;
}

/** BODY **/
body {
  background-image: url(../img/body-bg.jpg);
  background-size: auto;
}

p {
  font-size: 18px;
}

/* BANNERS */
.banner-cont img {
  width: 100%;
}

img {
  display: block;
}

/** TITULOS **/
.title {
  font-size: 38px;
  font-family: "HelveticaNeue BlackCond";
  margin-bottom: 40px;
}

.subtitle {
  font-size: 38px;
  font-family: "Helvetica Neue LT Std";
  margin-bottom: 40px;
  text-align: center;
}

/** FOOTER **/
footer {
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 15px #f96404 solid;
}
footer hr {
  background-color: #aeaeae;
  height: 2px;
}
footer .grid {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 830px;
  margin: 0 auto;
  padding-top: 80px;
}
footer .grid .column {
  min-height: 40px;
}
footer .grid .column a {
  display: block;
  margin-bottom: 30px;
  text-decoration: none;
  font-size: 18px;
  color: #000;
}

@media screen and (max-width: 768px) {
  header {
    padding: 15px 0;
  }
  header .container {
    display: block;
  }
  header .thd-logo {
    width: 15%;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  header .logo {
    width: 95%;
    display: block;
    margin: 0 auto;
  }
  nav {
    background-color: #fff;
    padding-top: 40px;
    border-bottom: #f96404 2px solid;
    position: relative;
  }
  nav .burguer {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 20px;
    width: 30px;
  }
  nav .burguer span {
    display: block;
    height: 4px;
    width: 100%;
    background-color: #f96404;
    margin-top: 4px;
    transition: opacity 0.3s ease, transform 0.2s linear;
  }
  nav .burguer.active span:first-child {
    transform: translate(0px, 2px) rotateZ(45deg);
  }
  nav .burguer.active span:last-child {
    transform: translate(0px, -6px) rotateZ(-45deg);
  }
  nav .menu {
    display: none;
    transition: all 300ms;
    width: 100%;
  }
  nav .menu li {
    width: 100%;
    max-width: unset;
    list-style: none;
    display: block;
  }
  nav .menu li a {
    height: 50px;
    font-size: 16px;
  }
}
.contenedor-general-banner img {
  width: 100%;
  height: auto;
}

.contenedor-general-informes {
  padding: 60px 0 75px;
  position: relative;
  overflow: hidden;
}
.contenedor-general-informes .dec-circulos {
  position: absolute;
  right: -3.5px;
  bottom: 25%;
  width: 50px;
  pointer-events: none;
  z-index: -1;
}
.contenedor-general-informes .contenedor-titulo {
  margin-bottom: 5px;
}
.contenedor-general-informes .contenedor-titulo h2 {
  color: #ff7e00;
  font-size: 31px;
  font-family: "Helvetica Neue";
  text-align: center;
  margin: 0;
}
.contenedor-general-informes .contenedor-informes {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
}
.contenedor-general-informes .contenedor-informes .cont-informe {
  width: 32%;
  background: #f05c04;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
  transition: all 0.3s;
}
.contenedor-general-informes .contenedor-informes .cont-informe img {
  width: 100%;
}
.contenedor-general-informes .contenedor-informes .cont-informe .cont-info {
  padding: 30px;
  position: absolute;
  text-align: center;
}
.contenedor-general-informes .contenedor-informes .cont-informe .cont-info h2 {
  color: white;
  font-size: 38px;
  font-family: "Helvetica Neue";
  margin: 0;
}
.contenedor-general-informes .contenedor-informes .cont-informe .cont-info h2 span {
  font-size: 50px;
  font-family: "Helvetica Neue";
}
.contenedor-general-informes .contenedor-informes .cont-informe .cont-info p {
  margin: 0;
  color: white;
  position: relative;
  padding: 10px 20px 0;
}
.contenedor-general-informes .contenedor-informes .cont-informe .cont-info p::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.5px;
  background: white;
}
.contenedor-general-informes .contenedor-informes .cont-informe:hover {
  transform: scale(0.95);
}

@media screen and (max-width: 767px) {
  .contenedor-general-informes .contenedor-informes {
    flex-direction: column;
  }
  .contenedor-general-informes .contenedor-informes .cont-informe {
    width: 100%;
    margin-bottom: 20px;
  }
  .contenedor-general-informes .contenedor-informes .cont-informe:last-of-type {
    margin-bottom: 0;
  }
}