@charset "UTF-8";
/** Font Face **/
@font-face {
  font-family: "HelveticaNeue BlackCond";
  src: url("../fonts/HelveticaNeue-BlackCond.eot");
  src: url("../fonts/HelveticaNeue-BlackCond.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-BlackCond.woff2") format("woff2"), url("../fonts/HelveticaNeue-BlackCond.woff") format("woff"), url("../fonts/HelveticaNeue-BlackCond.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std";
  src: url("../fonts/HelveticaNeueLTStd-Cn.eot");
  src: url("../fonts/HelveticaNeueLTStd-Cn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Cn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-Cn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Cn.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-CondensedBold.eot");
  src: url("../fonts/HelveticaNeue-CondensedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-CondensedBold.woff2") format("woff2"), url("../fonts/HelveticaNeue-CondensedBold.woff") format("woff"), url("../fonts/HelveticaNeue-CondensedBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/** COLORES **/
/** Generals **/
* {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue LT Std", Helvetica, sans-serif;
}

/** Container **/
.container {
  width: 85%;
  max-width: 1280px;
  margin: 0 auto;
}

/** HEADER **/
header {
  background-image: url(../img/head-bg.jpg);
  background-position: center;
  min-height: 30px;
  padding: 40px 0;
}
header .container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
header .thd-logo {
  margin-right: 20px;
  width: 6.7%;
}
header .logo {
  width: calc(93% - 20px);
}

/** menu **/
nav {
  background-color: #fff;
}
nav .menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #f98627;
  background: linear-gradient(0deg, #fff 0%, #f98627 40%, #f98627 100%);
}
nav .menu li {
  width: 16.3%;
  max-width: 250px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
nav .menu li.current a {
  color: #f96404;
}
nav .menu li a {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Helvetica Neue";
  color: #333333;
}

/** BODY **/
body {
  background-image: url(../img/body-bg.jpg);
  background-size: auto;
}

p {
  font-size: 18px;
}

img {
  display: block;
}

/** TITULOS **/
.title {
  font-size: 38px;
  font-family: "HelveticaNeue BlackCond";
  margin-bottom: 40px;
}

.subtitle {
  font-size: 38px;
  font-family: "Helvetica Neue LT Std";
  margin-bottom: 40px;
  text-align: center;
}

/** FOOTER **/
footer {
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 15px #f96404 solid;
}
footer hr {
  background-color: #aeaeae;
  height: 2px;
}
footer .grid {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 830px;
  margin: 0 auto;
  padding-top: 80px;
}
footer .grid .column {
  min-height: 40px;
}
footer .grid .column a {
  display: block;
  margin-bottom: 30px;
  text-decoration: none;
  font-size: 18px;
  color: #000;
}

@media screen and (max-width: 768px) {
  header {
    padding: 15px 0;
  }
  header .container {
    display: block;
  }
  header .thd-logo {
    width: 15%;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  header .logo {
    width: 95%;
    display: block;
    margin: 0 auto;
  }
  nav {
    background-color: #fff;
    padding-top: 40px;
    border-bottom: #f96404 2px solid;
    position: relative;
  }
  nav .burguer {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 20px;
    width: 30px;
  }
  nav .burguer span {
    display: block;
    height: 4px;
    width: 100%;
    background-color: #f96404;
    margin-top: 4px;
    transition: opacity 0.3s ease, transform 0.2s linear;
  }
  nav .burguer.active span:first-child {
    transform: translate(0px, 2px) rotateZ(45deg);
  }
  nav .burguer.active span:last-child {
    transform: translate(0px, -6px) rotateZ(-45deg);
  }
  nav .menu {
    display: none;
    transition: all 300ms;
    width: 100%;
  }
  nav .menu li {
    width: 100%;
    max-width: unset;
    list-style: none;
    display: block;
  }
  nav .menu li a {
    height: 50px;
    font-size: 16px;
  }
}
.contenedor-general-banner img {
  width: 100%;
  height: auto;
}

.contenedor-general-descripcion {
  padding: 55px 0;
}
.contenedor-general-descripcion .contenedor-descripcion {
  width: 62%;
  margin: 0 auto;
}
.contenedor-general-descripcion .contenedor-descripcion .desc {
  text-align: center;
}
.contenedor-general-descripcion .contenedor-descripcion .desc h2 {
  font-size: 31px;
  margin: 0;
  margin-bottom: 20px;
}
.contenedor-general-descripcion .contenedor-descripcion .desc h2 span {
  font-family: "HelveticaNeue BlackCond";
}
.contenedor-general-descripcion .contenedor-descripcion .desc p {
  font-size: 15px;
}

.contenedor-general-programas {
  padding: 40px;
  background-image: url(../img/bg-franja.png);
  background-size: cover;
  background-position: center;
}
.contenedor-general-programas .contenedor-titulo {
  margin-bottom: 5px;
}
.contenedor-general-programas .contenedor-titulo h2 {
  color: white;
  font-size: 31px;
  text-align: center;
  margin: 0;
}
.contenedor-general-programas .contenedor-programas {
  display: flex;
  justify-content: center;
}
.contenedor-general-programas .contenedor-programas .programa {
  width: 21.5%;
  margin-right: 40px;
  position: relative;
}
.contenedor-general-programas .contenedor-programas .programa img {
  width: 100%;
}
.contenedor-general-programas .contenedor-programas .programa::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -20.5px;
  height: 70%;
  width: 1px;
  background: white;
}
.contenedor-general-programas .contenedor-programas .programa:last-of-type {
  margin-right: 0;
}
.contenedor-general-programas .contenedor-programas .programa:last-of-type::before {
  display: none;
}

.contenedor-general-informacion {
  margin-top: 35px;
  position: relative;
  overflow: hidden;
}
.contenedor-general-informacion .dec-circulos {
  position: absolute;
  right: -3.5px;
  top: 25%;
  width: 50px;
  pointer-events: none;
  z-index: -1;
}
.contenedor-general-informacion .dec-circulos-izq {
  position: absolute;
  left: -10.5px;
  top: -10%;
  width: 50px;
  pointer-events: none;
  z-index: -1;
}
.contenedor-general-informacion .dec-pintura {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 63px;
  pointer-events: none;
  z-index: -1;
}
.contenedor-general-informacion .contenedor-informacion {
  padding-top: 35px;
}
.contenedor-general-informacion .contenedor-informacion .cont-columnado {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contenedor-general-informacion .contenedor-informacion .cont-columnado .info {
  width: 64%;
}
.contenedor-general-informacion .contenedor-informacion .cont-columnado .media {
  width: 33%;
}
.contenedor-general-informacion .contenedor-informacion .cont-columnado .media img {
  width: 100%;
}
.contenedor-general-informacion .contenedor-informacion > img {
  display: block;
  max-width: 330px;
  width: auto;
  max-height: 65px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 30px;
}
.contenedor-general-informacion .contenedor-informacion p {
  margin: 15px 0;
  font-size: 16px;
}
.contenedor-general-informacion .contenedor-informacion p strong {
  font-family: "Helvetica Neue";
  color: #ff7e00;
}
.contenedor-general-informacion .contenedor-informacion p span {
  color: #ff7e00;
  font-size: 32px;
  font-family: "Helvetica Neue";
}
.contenedor-general-informacion .contenedor-informacion h3 {
  font-family: "Helvetica Neue";
  color: white;
  background: #ff7e00;
  padding: 5px 12px;
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.contenedor-general-informacion .contenedor-informacion ul {
  list-style: none;
  padding-left: 15px;
}
.contenedor-general-informacion .contenedor-informacion ul li {
  font-size: 16px;
}
.contenedor-general-informacion .contenedor-informacion ul li a {
  color: #ff7e00;
  font-family: "Helvetica Neue";
}
.contenedor-general-informacion .contenedor-informacion ul li span {
  color: #ff7e00;
  font-family: "Helvetica Neue";
}
.contenedor-general-informacion .contenedor-informacion ul li::before {
  content: "•";
  color: #ff7e00;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.contenedor-general-informacion .contenedor-informacion .galeria {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.contenedor-general-informacion .contenedor-informacion .galeria img {
  width: 31.5%;
  margin: 0;
}
.contenedor-general-informacion:last-of-type {
  padding-bottom: 60px;
}
.contenedor-general-informacion:last-of-type .contenedor-informacion {
  border-top: 1px solid #ff7e00;
}

@media screen and (max-width: 767px) {
  .contenedor-general-descripcion .contenedor-descripcion {
    width: 100%;
  }
  .contenedor-general-programas .contenedor-programas {
    flex-direction: column;
  }
  .contenedor-general-programas .contenedor-programas .programa {
    width: 100%;
    margin-bottom: 30px;
  }
  .contenedor-general-programas .contenedor-programas .programa::before {
    content: "";
    position: absolute;
    top: inherit;
    bottom: -15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 1px;
    width: 100px;
    background: white;
  }
  .contenedor-general-programas .contenedor-programas .programa:last-of-type {
    margin-bottom: 0;
  }
  .contenedor-general-programas .contenedor-programas .programa:last-of-type::before {
    display: none;
  }
  .contenedor-general-informacion .contenedor-informacion .cont-columnado {
    flex-direction: column;
  }
  .contenedor-general-informacion .contenedor-informacion .cont-columnado .info {
    width: 100%;
  }
  .contenedor-general-informacion .contenedor-informacion .cont-columnado .media {
    width: 100%;
    margin-top: 20px;
  }
  .contenedor-general-informacion .contenedor-informacion > img {
    max-width: 260px;
  }
  .contenedor-general-informacion .contenedor-informacion .galeria {
    flex-direction: column;
  }
  .contenedor-general-informacion .contenedor-informacion .galeria img {
    width: 100%;
    margin-bottom: 15px;
  }
  .contenedor-general-informacion .contenedor-informacion .galeria img:last-of-type {
    margin-bottom: 0;
  }
  .contenedor-general-informacion:first-of-type {
    border: 0;
  }
}