/** Font Face **/
@font-face {
  font-family: "HelveticaNeue BlackCond";
  src: url("../fonts/HelveticaNeue-BlackCond.eot");
  src: url("../fonts/HelveticaNeue-BlackCond.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-BlackCond.woff2") format("woff2"), url("../fonts/HelveticaNeue-BlackCond.woff") format("woff"), url("../fonts/HelveticaNeue-BlackCond.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std";
  src: url("../fonts/HelveticaNeueLTStd-Cn.eot");
  src: url("../fonts/HelveticaNeueLTStd-Cn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Cn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-Cn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Cn.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-CondensedBold.eot");
  src: url("../fonts/HelveticaNeue-CondensedBold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-CondensedBold.woff2") format("woff2"), url("../fonts/HelveticaNeue-CondensedBold.woff") format("woff"), url("../fonts/HelveticaNeue-CondensedBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/** COLORES **/
/** Generals **/
* {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue LT Std", Helvetica, sans-serif;
}

/** Container **/
.container {
  width: 85%;
  max-width: 1280px;
  margin: 0 auto;
}

/** HEADER **/
header {
  background-image: url(../img/head-bg.jpg);
  background-size: cover;
  background-position: start;
  background-attachment: scroll;
  min-height: 30px;
  padding: 40px 0;
}
header .container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
header .thd-logo {
  margin-right: 20px;
  width: 6.7%;
}
header .logo {
  width: calc(93% - 20px);
}

/** menu **/
nav {
  background-color: #fff;
}
nav .menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #f98627;
  background: linear-gradient(0deg, #fff 0%, #f98627 40%, #f98627 100%);
}
nav .menu li {
  width: 16.3%;
  max-width: 250px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
nav .menu li.current a {
  color: #f96404;
}
nav .menu li a {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Helvetica Neue";
  color: #333333;
}

/** BODY **/
body {
  background-image: url(../img/body-bg.jpg);
  background-size: auto;
}

p {
  font-size: 18px;
}

/* BANNERS */
.banner-cont img {
  width: 100%;
}

img {
  display: block;
}

/** TITULOS **/
.title {
  font-size: 38px;
  font-family: "HelveticaNeue BlackCond";
  margin-bottom: 40px;
}

.subtitle {
  font-size: 38px;
  font-family: "Helvetica Neue LT Std";
  margin-bottom: 40px;
  text-align: center;
}

/** FOOTER **/
footer {
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 15px #f96404 solid;
}
footer hr {
  background-color: #aeaeae;
  height: 2px;
}
footer .grid {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 830px;
  margin: 0 auto;
  padding-top: 80px;
}
footer .grid .column {
  min-height: 40px;
}
footer .grid .column a {
  display: block;
  margin-bottom: 30px;
  text-decoration: none;
  font-size: 18px;
  color: #000;
}

@media screen and (max-width: 768px) {
  header {
    padding: 15px 0;
  }
  header .container {
    display: block;
  }
  header .thd-logo {
    width: 15%;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  header .logo {
    width: 95%;
    display: block;
    margin: 0 auto;
  }
  nav {
    background-color: #fff;
    padding-top: 40px;
    border-bottom: #f96404 2px solid;
    position: relative;
  }
  nav .burguer {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 20px;
    width: 30px;
  }
  nav .burguer span {
    display: block;
    height: 4px;
    width: 100%;
    background-color: #f96404;
    margin-top: 4px;
    transition: opacity 0.3s ease, transform 0.2s linear;
  }
  nav .burguer.active span:first-child {
    transform: translate(0px, 2px) rotateZ(45deg);
  }
  nav .burguer.active span:last-child {
    transform: translate(0px, -6px) rotateZ(-45deg);
  }
  nav .menu {
    display: none;
    transition: all 300ms;
    width: 100%;
  }
  nav .menu li {
    width: 100%;
    max-width: unset;
    list-style: none;
    display: block;
  }
  nav .menu li a {
    height: 50px;
    font-size: 16px;
  }
}
p.title {
  font-family: "Helvetica Neue LT Std";
  margin-top: 80px;
}
p.title strong {
  font-family: "HelveticaNeue BlackCond";
}

.cont-general-ultimos {
  position: relative;
  overflow: hidden;
}
.cont-general-ultimos .dec-circulos {
  position: absolute;
  right: -7.5px;
  top: 25%;
  width: 50px;
  pointer-events: none;
  z-index: -1;
}
.cont-general-ultimos .dec-circulos-izq {
  position: absolute;
  left: -10.5px;
  bottom: 20%;
  width: 50px;
  pointer-events: none;
  z-index: -1;
}
.cont-general-ultimos .dec-pintura-izq {
  position: absolute;
  left: 0;
  top: 5%;
  width: 32px;
  pointer-events: none;
  z-index: -1;
}

footer {
  position: relative;
}
footer .dec-pintura {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 63px;
  pointer-events: none;
  z-index: -1;
}

.facts-cont {
  background-image: url(../img/mancha-bg.png);
  background-size: cover;
  background-position: center;
  padding: 20px 0;
}
.facts-cont .grid {
  max-width: 800px;
  margin: 0 auto;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.facts-cont .grid .item {
  width: 30%;
  min-width: 200px;
  min-height: 30px;
  margin: 10px auto;
}
.facts-cont .grid .item .white-sqr {
  width: 100%;
  min-height: 40px;
  background-color: #fff;
  border-radius: 20px;
  font-family: "HelveticaNeue BlackCond";
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f98627;
  line-height: 1;
  font-size: 34px;
  padding: 30px 0;
}
.facts-cont .grid .item .white-sqr small {
  padding-top: 2px;
  margin-left: 4px;
  font-family: "HelveticaNeue BlackCond";
}
.facts-cont .grid .item .desc {
  margin-top: 10px;
  display: flex;
  align-items: start;
  justify-content: center;
}
.facts-cont .grid .item .desc .icon {
  width: 48px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.facts-cont .grid .item .desc .icon img {
  max-height: 35px;
  width: auto;
  margin-top: 5px;
}
.facts-cont .grid .item .desc .text {
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Helvetica Neue";
}

.facts-shapes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
}
.facts-shapes .item {
  position: relative;
  height: 150px;
  margin-right: -50px;
}
.facts-shapes .item.year .text {
  font-size: 56px;
  color: #7d7d7d;
}
.facts-shapes .item.last p {
  padding-left: 25px;
}
.facts-shapes .item img {
  top: 0;
  height: 150px;
  transition: all 300ms;
}
.facts-shapes .item .text {
  top: 0;
  right: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Helvetica Neue";
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
}
.facts-shapes .item .text p {
  font-family: "Helvetica Neue";
  line-height: 1;
  font-size: 16px;
}
.facts-shapes .item .text p span {
  font-size: 24px;
  font-family: "Helvetica Neue";
  display: block;
}
.facts-shapes .item .icon {
  width: 30px;
  position: absolute;
  top: 12px;
  left: 35px;
}
.facts-shapes .item .icon img {
  width: 100%;
  height: auto;
}
.facts-shapes.alt {
  margin-left: -50px;
  margin-right: 0px;
}
.facts-shapes.alt .last p {
  padding-left: 0px;
  padding-right: 25px;
}
.facts-shapes.alt .icon {
  left: unset;
  right: 40px;
}

hr.orange {
  height: 1px;
  background-color: #f96404;
  border: none;
  margin: 0 auto;
  max-width: 600px;
  width: 90%;
}