@import "generals";

.contenedor-general-banner{
    img{
        width: 100%;
        height: auto;
    }
}

.contenedor-general-descripcion{
    padding: 42px 0;
    background: white;
    .contenedor-descripcion{
        display: flex;
        align-items: center;
        width: 81%;
        margin: 0 auto;
        .logo{
            padding-left: 11.7%;
            margin-right: 20px;
            img{
                width: 92px;
                height: auto;
            }
        }
        .desc{
            h2{
                font-size: 31px;
                margin: 0;
                margin-bottom: 20px;
                span{
                    font-family: "HelveticaNeue BlackCond";
                }
            }
            p{
                font-size: 15px;
            }
        }
    }
}

.contenedor-general-programas{
    padding: 40px;
    background-image: url(../img/bg-franja.png);
    background-size: cover;
    background-position: center;
    .contenedor-titulo{
        margin-bottom: 5px;
        h2{
            color: white;
            font-size: 31px;
            text-align: center;
            margin: 0;
        }
    }
    .contenedor-programas{
        display: flex;
        justify-content: space-between;
        .programa{
            width: 21.5%;
            position: relative;
            transition: all .3s;
            img{
                width: 100%;
            }
            &::before{
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: -11.5%;
                height: 70%;
                width: 1px;
                background: white;
            }
            &:last-of-type{
                &::before{
                    display: none;
                }
            }
            &:hover{
                box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
            }
        }
    }
}

.contenedor-general-informacion{
    margin-top: 35px;
    position: relative;
    overflow: hidden;
    .dec-circulos{
        position: absolute;
        right: -7.5px;
        bottom: 25%;
        width: 50px;
        pointer-events: none;
        z-index: -1;
    }
    .dec-circulos-izq{
        position: absolute;
        left: -10.5px;
        top: 3%;
        width: 50px;
        pointer-events: none;
        z-index: -1;
    }
    .dec-pintura{
        position: absolute;
        right: -14px;
        top: 20%;
        width: 63px;
        pointer-events: none;
        z-index: -1;
    }
    .dec-pintura-izq{
        position: absolute;
        left: 0;
        bottom: 12%;
        width: 75px;
        pointer-events: none;
        z-index: -1;
    }
    .contenedor-informacion{
        padding-top: 35px;
        border-top: 1px solid $naranja-claro;
        > img{
            display: block;
            max-width: 330px;
            width: auto;
            max-height: 65px;
            height: auto;
            margin: 0 auto;
            margin-bottom: 30px;
        }
        p{
            margin: 15px 0;
            font-size: 16px;
            span{
                color: $naranja-claro;
                font-size: 32px;
                font-family: 'Helvetica Neue';
            }
        }
        h3{
            font-family: 'Helvetica Neue';
            color: white;
            background: $naranja-claro;
            padding: 5px 12px;
            display: inline-block;
            text-transform: uppercase;
            margin-bottom: 15px;
        }
        ul{
            list-style: none;
            padding-left: 15px;
            li{
                font-size: 16px;
                a{
                    color: $naranja-claro;
                    font-family: 'Helvetica Neue';
                    transition: all .3s;
                    &:hover{
                        opacity: .7;
                    }
                }
                span{
                    color: $naranja-claro;
                        font-family: 'Helvetica Neue';
                }
                &::before{
                    content: "\2022";
                    color: $naranja-claro; 
                    font-weight: bold; 
                    display: inline-block;
                    width: 1em;
                    margin-left: -1em;
                }
            }
        }
        .galeria{
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
            img{
                width: 31.5%;
                margin: 0;
            }
        }
    }
    &:first-of-type{
        background: red;
        .contenedor-informacion{
            border: 0;
        }
    }
    &:last-of-type{
        padding-bottom: 100px;
    }
}

.contenedor-general-importante{
    padding: 32px 0;
    background-image: url(../img/bg-franjamadera.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 60px;
    .contenedor-importante{
        p{
            font-family: "HelveticaNeue BlackCond";
            color: white;
            margin: 0;
            margin-bottom: 15px;
        }
        ul{
            list-style: none;
            padding-left: 15px;
            li{
                font-size: 16px;
                color: white;
                a{
                    color: white;
                    font-family: 'Helvetica Neue';
                    transition: all .3s;
                    &:hover{
                        opacity: .7;
                    }
                }
                &::before{
                    content: "\2022";
                    color: white; 
                    font-weight: bold; 
                    display: inline-block;
                    width: 1em;
                    margin-left: -1em;
                }
            }
        }
    }
}

@media screen and (max-width: 767px){

    .contenedor-general-descripcion{
        .contenedor-descripcion{
            flex-direction: column;
            .logo{
                padding-left: 0;
                margin-right: 0;
                img{
                    width: 92px;
                }
            }
            .desc{
                width: 100%;
                margin-top: 25px;
            }
        }
    }

    .contenedor-general-programas{
        .contenedor-programas{
            flex-direction: column;
            .programa{
                width: 100%;
                margin-bottom: 30px;
                &::before{
                    content: "";
                    position: absolute;
                    top: inherit;
                    bottom: -15px;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    height: 1px;
                    width: 100px;
                    background: white;
                }
                &:last-of-type{
                    margin-bottom: 0;
                    &::before{
                        display: none;
                    }
                }
            }
        }
    }

    .contenedor-general-informacion{
        .contenedor-informacion{
            > img{
                max-width: 260px;
            }
            .galeria{
                flex-direction: column;
                img{
                    width: 100%;
                    margin-bottom: 15px;
                    &:last-of-type{
                        margin-bottom: 0;
                    }
                }
            }
        }
        &:first-of-type{
            border: 0;
        }
    }

}