@import "generals";


.home-carousel {
    .item {
        background-color: black;
        border-bottom: 7px $main-color solid;

        img {
            opacity: 0.8;
        }
    }
}

.compromiso {
    padding: 80px 0;
}

.form-cont {
    background-image: url(../img/form-bg.jpg);
    padding: 100px 0;

    .title {
        color: #fff;
        font-size: $title_2;
        font-family: $H_NEUE_CondBold;
        margin-bottom: 0;
        text-align: center;
    }

    .subtitle {
        color: #fff;
    }

    .panel-title {
        text-align: center;
        color: #fff;
        font-family: $H_NEUE_CondBold;
        font-size: 28px;
        margin-bottom: 20px;
        font-weight: bold;
    }

    .panel-body {
        margin-bottom: 60px;
    }

    .form-group {
        max-width: 734px;
        margin: 0 auto;
        width: 80%;
        margin-bottom: 20px;

        label {
            color: #fff;
            font-size: $text_size;
            text-align: center;
            display: block;
        }

        input {
            display: block;
            width: 90%;
            max-width: 734px;
            height: 50px;
            border: none;
            margin: 0 auto;
            box-sizing: border-box;
            font-size: $text_size;
            padding: 10px;

        }
    }

    .button-group {
        max-width: 734px;
        margin: 0 auto;
        width: 80%;
        margin-bottom: 20px;
        padding: 0 3.4%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;

        button,
        input {
            background-color: #000;
            appearance: none;
            border: none;
            color: #fff;
            height: 50px;
            text-align: center;
            width: 48%;
            max-width: 330px;
            font-size: 24px;
            text-transform: uppercase;
            line-height: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .form-sub-text {
        color: #fff;
        text-align: center;
        font-size: 26px;
    }
}